<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    
    <httpRuntime requestValidationMode="2.0" />
  </system.web>
 <system.net>
    <mailSettings>
      <smtp from="kiffodbold@email.dk">
        <network host="smtp.mandrillapp.com" port="587" password="g38TDnNj9JlatrEto9s2Pw" userName ="kiffodbold@email.dk"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>